#-----------------------------------------------------------------------------#
#                                                                             #
#      DEFAULT CONFIGURATION FILE TO BE USED WITH THE FLASHWRITER SCRIPT      # 
#                                                                             #
#-----------------------------------------------------------------------------#
#
# By default this config file, 
# - points to pre-built flash writer, and SOC init bootloader or SBL NULL bootloader for this EVM
# - The SBL NULL bootloader does below 
#   - Load sysfw and init sysfw by passing a "boardcfg"
#   - power-ON and clock setup for the R5F and M4F CPUs.
#   - reset and run all the CPUs in a "WFI" loop.
#   - It does NOT boot any applicaiton binary
# - SBL NULL is useful to init the SOC when the EVM is powered ON, 
#   so that one can do connect CCS and load application from CCS without needing
#   to run any DMSC load scripts
# - This make the CCS development flow lot simpler as long as this one time flashing step is done.
#

# First point to sbl_uart_uniflash binary, which function's as a server to flash one or more files
--flash-writer=sbl_prebuilt/am64x-evm/sbl_uart_uniflash.release.tiimage

# When sending bootloader make sure to flash at offset 0x0. ROM expects bootloader at offset 0x0
--file=sbl_prebuilt/am64x-evm/sbl_null.release.tiimage --operation=flash --flash-offset=0x0


