
# Mention the soc name for am64x_am243x
--soc=am64x_am243x

# First point to sbl_uart binary, which function's as a server to receive application images of other cores through uart
--bootloader=sbl_prebuilt/am64x-evm/sbl_uart.release.hs_fs.tiimage

# This is example appimage which will be loaded to the R50-0 core
--file=../../examples/drivers/ipc/ipc_rpmsg_echo/am64x-evm/system_freertos_nortos/ipc_rpmsg_echo_system.release.mcelf.hs_fs
