lib/
obj/
node_modules/
coverage/
docs/api_guide_*
docs/datasheet*
*.out
*.out*
*.profdata
*.map
*.zip
*.rprc
*.rprc_tmp
*.tmp
*.swp
*.rprc_xip
*.appimage
*.appimage_xip
*.appimage_qspi
*.appimage.signed
*.appimage.hs
*.appimage.hs_fs
*.bin
*.tiimage
*.tiimage.hs
*-fw
*.vscode/
temp_stdout_*.txt
ccs_projects/
generated/
source/kernel/freertos/FreeRTOS-Kernel
source/kernel/freertos/FreeRTOS-Kernel-smp
source/kernel/freertos/FreeRTOS-POSIX
source/fs/freertos_fat/FreeRTOS-FAT
source/kernel/safertos/safeRTOS
source/industrial_comms/ethercat_slave/beckhoff_stack/stack_sources/*.c
source/industrial_comms/ethercat_slave/beckhoff_stack/stack_sources/*.h
source/industrial_comms/ethercat_slave/beckhoff_stack/stack_sources/*.dll
source/industrial_comms/ethercat_slave/beckhoff_stack/stack_sources/*.lib
source/industrial_comms/ethercat_slave/stack/patch/SlaveFiles/*.c
source/industrial_comms/ethercat_slave/stack/patch/SlaveFiles/*.h
source/industrial_comms/ethercat_slave/stack/patch/SlaveFiles/*.dll
source/industrial_comms/ethercat_slave/stack/patch/SlaveFiles/*.lib
source/industrial_comms/ethercat_slave/stack/patch/SlaveFiles/src/*.c
source/industrial_comms/ethercat_slave/stack/patch/SlaveFiles/src/*.h
source/industrial_comms/ethercat_slave/stack/patch/SlaveFiles/src/*.dll
source/industrial_comms/ethercat_slave/stack/patch/SlaveFiles/src/*.lib
source/networking/enet/core
source/networking/lwip/lwip-stack
source/networking/lwip/lwip-contrib
source/cmsis
source/commercial
source/usb/tinyusb/tinyusb-stack
source/dsplib_c66x_3_4_0_0/
docs/industrial_protocol_docs
mcusdk_tagfile
__pycache__/
source/motor_control/position_sense/hdsl/firmware/*.lst
source/motor_control/position_sense/hdsl/firmware/*.obj
source/motor_control/position_sense/hdsl/firmware/*.b00
source/motor_control/position_sense/hdsl/firmware/*.xml
source/networking/mbedtls_library/mbedtls
source/motor_control/position_sense/endat/firmware/*.lst
source/motor_control/position_sense/endat/firmware/*.obj
source/motor_control/position_sense/endat/firmware/*.b00
source/motor_control/position_sense/endat/firmware/*.xml
!*boardcfg_*.bin
