
# The PROJECT_NAME tag is a single word (or a sequence of words surrounded by
# double-quotes, unless you are using Doxywizard) that should identify the
# project for which the documentation is generated. This name is used in the
# title of most generated pages and in a few other places.
# The default value is: My Project.

PROJECT_NAME           = "AM64x MCU+ SDK"

INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/main_page/main_page.md
#INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/main_page/sample_page.md

INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/getting_started/getting_started.md
INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/getting_started/download_and_install.md
INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/getting_started/ccs_setup.md
INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/device/am64x/am64x_evm_setup.md
INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/getting_started/getting_started_build.md
INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/getting_started/ccs_launch.md
INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/getting_started/getting_started_flash.md
INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/getting_started/getting_started_flash_dfu.md

@INCLUDE = $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/device/am64x/release_notes.cfg

INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/datasheet/device/am64x_am243x/datasheet_am64x_am243x_evm.md
INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/developer_guides/developer_guides.md
INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/developer_guides/ccs_projects.md
INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/developer_guides/makefile_build.md
INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/developer_guides/syscfg_intro.md
INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/developer_guides/tirex_intro.md
INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/developer_guides/bootflow.md
INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/developer_guides/bootflow_xip.md
INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/developer_guides/secure_boot.md
INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/developer_guides/graceful_remotecore_shutdown.md
INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/developer_guides/sbl_booting_linux_emmc.md
INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/developer_guides/sbl_booting_linux_ospi.md
INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/developer_guides/ipc.md
INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/developer_guides/lld_drivers.md
INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/developer_guides/memorymap.md
INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/developer_guides/install_non_default.md
INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/developer_guides/ccs_rov.md
INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/developer_guides/custom_flash.md
INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/developer_guides/ccs_cloud_intro.md
INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/developer_guides/resource_allocation.md
INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/developer_guides/smp_freertos.md
INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/developer_guides/mcu_reset_isolation.md

@INCLUDE = $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/migration_guides/migration_guide.cfg

@INCLUDE = $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/device/am64x/examples.cfg

@INCLUDE = $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/components/kernel/os/os.cfg
@INCLUDE = $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/components/kernel/dpl/dpl.cfg
@INCLUDE = $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/components/kernel/dpl/dpl_arm_v8.cfg
@INCLUDE = $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/components/kernel/dpl/dpl_arm_v7.cfg

@INCLUDE = $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/components/drivers/drivers.cfg
@INCLUDE = $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/device/am64x_am243x/board.cfg
@INCLUDE = $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/components/fs/fs.cfg

INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/components/networking/networking.md
INPUT+= $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/components/networking/networking_lwip.md
INPUT+= $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/components/networking/icssg0_usage_guide.md
INPUT+= $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/components/networking/enet_lwip_static_ip.md
INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/components/networking/enet_cpsw_tsn_gptp_apiguide.md
INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/components/networking/enet_cpsw_lldp_apiguide.md
@INCLUDE = $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/components/networking/enet_lld/enet_am64x.cfg
@INCLUDE = $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/components/networking/icss_emac/icss_emac_am64x.cfg
@INCLUDE = $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/components/networking/icss_timesync.cfg
INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/components/pru_io/pru_io.md
@INCLUDE = $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/components/pru_io/pru_ipc.cfg
@INCLUDE = $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/components/pru_io/pru_adc.cfg
@INCLUDE = $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/components/pru_io/pru_guide.cfg

@INCLUDE = $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/components/usb/usb_driver.cfg

@INCLUDE = $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/components/security/crypto/pka.cfg
@INCLUDE = $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/components/security/crypto/sa2ul.cfg

@INCLUDE = $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/components/sdl/sdl.cfg

@INCLUDE = $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/components/tools/tools.cfg
@INCLUDE = $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/components/tools/tools_sysfw.cfg
INPUT += $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/components/tools/memory_configurator.md

@INCLUDE = $(MCU_PLUS_SDK_PATH)/docs_src/docs/api_guide/components/mathlib/mathlib_driver.cfg
@INCLUDE = $(MCU_PLUS_SDK_PATH)/source/networking/tsn/tsn-stack/docs_src/doxygen/cfg/sitara/tsn.cfg

# Used to selectively pick DEVICE specific sections within .md files
ENABLED_SECTIONS = SOC_AM64X

# SOC specific aliases
ALIASES+=VAR_SOC_NAME="AM64X"
ALIASES+=VAR_SOC_NAME_LOWER="am64x"
ALIASES+=VAR_BOARD_NAME="AM64X-EVM"
ALIASES+=VAR_BOARD_NAME_LOWER="am64x-evm"
ALIASES+=VAR_SK_BOARD_NAME="AM64X-SK"
ALIASES+=VAR_SK_BOARD_NAME_LOWER="am64x-sk"
ALIASES+=VAR_SOC_MANIFEST="mcu_plus_sdk_am64x_manifest.html"
