#-----------------------------------------------------------------------------#
#                                                                             #
#      DEFAULT CONFIGURATION FILE TO BE USED WITH THE FLASHWRITER SCRIPT      #
#                                                                             #
#-----------------------------------------------------------------------------#
#
# By default this config file,
# - The application image points to relative path of the hello_world application image for this EVM
#   - Make sure this application is built before running this script
# - You can customized this config file to point to your own application images
#

# When sending application image, make sure to flash at offset 0x80000 (default) or to whatever offset your bootloader is configured for
--file=../../examples/hello_world/am263x-cc/r5fss0-0_nortos/ti-arm-clang/hello_world.release.appimage --operation=flash --flash-offset=0x80000
