#-----------------------------------------------------------------------------#
#                                                                             #
#      DEFAULT CONFIGURATION FILE TO BE USED WITH THE FLASHWRITER SCRIPT      #
#                                                                             #
#-----------------------------------------------------------------------------#
#
# By default this config file,
# - The application image points to relative path of the ipc echo application image for this EVM
#   - Make sure this application is built before running this script
# - You can customized this config file to point to your own application images
#

# When sending application image, make sure to flash at offset 0x80000 (default) or to whatever offset your bootloader is configured for
--file=../../examples/drivers/ipc/ipc_notify_echo/am263x-cc/system_freertos_nortos/ipc_notify_echo_system.release.mcelf --operation=flash --flash-offset=0x80000
